<a id='menu'></a>
 <hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.25"> 

 ![learning academy and data science campus logos](../images/la_dsc_logo.jpg)
  <hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.25">

<a id='menu'></a>
# Introduction to Python
## Chapter 4 – Working with DataFrames
***
Follow along with the code by running cells as you encounter them
***
*Chapter Overview and Learning Objectives:*
* [Packages and Datasets](#packages)


* [Exploring Datasets](#exploring)
    - Quick Previews
    - Size
    - Data Types
    - Column Names


* [Sorting Data](#sorting)
 

* [Subsetting Data](#subsetting)
    - Selecting Single Columns
    - Selecting Multiple Columns
    
    
* [Filtering](#filter)    
    - Single Conditional Filtering
    - Multiple Conditional Filtering


* [Deriving New Columns](#new_columns)
    - Constant Values
    - Numeric Values
    - Boolean and Binary Values
    - Mapping new values
    - Deleting columns
    
    
* [Merging Data](#merge)
    - About Merging
    - Merging using Pandas
    - Union joins

<a id='packages'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Packages and Datasets

### Packages
As a reminder – we should always import our packages at the top of our script.


In this session we will use `pandas`, and give it the nickname `pd`.

In [ ]:
# Import Pandas in this Cell

You can run the "solution" cell if you need help - or revisit chapter 2.

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/importpandas.py

### Datasets
Good practice should also be to import our datasets at the top of our script too.

In this session we’ll be using:


| variable name | file name  |
| --- | --- |
| animals | animals.csv |
| titanic | titanic.xlsx |
| joining_data1 | joining_data1.csv |
| joining_data2 | joining_data2.csv |
| union_join_data | union_data.csv |
| marvel_left | joining_exercise1.csv |
| marvel_right | joining_exercise2.csv |



These are all straight forward data imports with no additional parameters.

Use the cell below to load in these datasets.

If you are stuck use the solution cell; remember practicing simple commands is important for retaining the skills you’re learning.

In [ ]:
# Import your datasets here

In [ ]:
# Solution - These cells contain answers for the exercises.
#Run once to reveal the code.
#Run again to reveal the output. 

%load ../solutions/chapter_4/chapter_four_data.py

You can check your variables are loaded by using `%whos` in Jupyter. In Spyder or other IDE's they should appear in your variable explorer. 

If you struggle with this section – review chapter 3 – Reading In and Exporting Data

In [ ]:
%whos

[return to menu](#menu)

<a id='exploring'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Exploring Datasets

Before you start working with a dataset it can be important to examine it. For example:

* Do the values look how you would expect?
* Does the data have the right number of rows and columns? 
* Do the columns have your expected data types?
* Is your data [clean?](https://en.wikipedia.org/wiki/Data_cleansing)

In this section we’ll look at various ways of exploring our data.

In chapter 5 we will look at how we can clean our data. When working with data, cleaning is normally a step we’d do first. Those concepts are a little more complicated; and we like to establish a good base knowledge of how Python works first. For these sessions we’ll be using data that has already been cleaned to make it easy to handle.

### Quick Previews

In the last section we looked at three methods of quickly inspecting our dataframes.

* `.head()`  - Top 5 rows
* `.tail()`  - Bottom 5 Rows
* `.sample()` - 1 Randomly sampled row.

We use these because we do not always want Jupyter Notebooks to print out large datasets; we just want to check that certain operations have worked on a smaller amount of data.

We can modify how many rows are returned by putting a number within the round brackets.

The number in the round brackets is known as an argument. `.head()` and `.tail()` have a default argument of 5; if we don't pass an argument that default behaviour is used.

e.g.

In [ ]:
animals.head(3)

Here I am using the `.head()` method to just display the top 3 rows of my DataFrame.

This modifies the default behaviour of `.head()` by displaying just 3 rows instead of 5.

If you run just

`animals` 

You may notice that Jupyter does not display all of the rows in our DataFrame.

![hidden rows](../images/sort_missing_rows.PNG)

Instead it represents these rows using the  `…` (ellipsis) symbol.

You may also see this with columns. This happens in large datasets; and helps to save computational power. This is similar to the max print option in Spyder.

While there are various ways of changing this setting with Jupyter (Stack Overflow has several answers) if you are regularly using large DataFrames, and wish to inspect all rows you may wish to the the `Spyder IDE`. This has an inbuilt data viewer.

We can also use `.info()` this gives us information about:

* The class of the object – a `pandas` DataFrame
* The range (or length of our index) – our number of rows
* How many columns we have
* The column names
* The number of non-null entries (a.k.a without missing values)
* The data type of the column
* The number of columns of each data type.

We’ll look at data types in more detail later.

In [ ]:
titanic.info()

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Size

Knowing the size of our DataFrame is also useful – we can achieve this in a few ways.

In [ ]:
animals.shape

`.shape` provides us with the dimensions of the object.

Notice this is an attribute of the DataFrame rather than a method – it describes the shape of animals - and so does not use round brackets at the end.

We talk a bit more about the similarities and differences between functions, methods and attributes in chapter 2. Feel free to review that section if you are stuck.

We can use our indexing brackets to return an item in this tuple – for example the number rows at index 0.

In [ ]:
animals.shape[0]

And the number of columns at index 1.

In [ ]:
animals.shape[1]

As an aside:

Because `.shape` returns us a tuple we can assign each of these to it’s own variable.

To do this we give our variable names in the order of the tuple output, separated by a comma before our assignment operator (=).

Our tuple outputs rows first then columns, so we give our variables as `nrow` and `ncol`.

You can see that we can then use these in the print statement below.

In [ ]:
nrow, ncol = animals.shape

print("There are", nrow, "rows, and", ncol, "columns in the animals DataFrame")

This is the same code as below – but in one line.

In [ ]:
# This is the same as nrow, ncol = animals.shape

nrow = animals.shape[0]
ncol = animals.shape[1]

We can also use the inbuilt `len()` function to find the **len**gth. This will return us the rows.

In [ ]:
len(animals)

We can also modify this to return us the number of columns – like so.

In [ ]:
len(animals.columns)

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Look at the dimensions of the `titanic` DataFrame.

Use shape, then try returning the columns and rows individually.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/titanic_shape.py

If you run the solution cell you’ll notice that the answers are within a print function. 

Remember that Jupyter Notebooks prints out the last output in a cell unless we do this.

See Chapter 2 for a refresher on this.

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Data Types

It is also important to check the data types when we bring in data. If you’ve worked with other analytical software before you’ll know that sometimes data doesn’t come in as we would expect.

We do this using `.dtypes`

In [ ]:
animals.dtypes

We have some of the data types we’re seen before

* **int** represents integers; our whole numbers
	* CalYear (Calendar Year) is column of whole numbers
    
    
* **float** represents ‘floating point’ numbers or decimals
	* IncidentNominalCost(£) (The financial cost of each incident) is a decimal number.


* **object** or **O**  here represents what we’ve been calling *string* data so far - text values
	* AnimalClass (The kind of animal) is a text based value.

We may also see

* **bool** - representing Boolean values; our True and False
* **datetime** - date and time values
* **category** - a special `pandas` datatype for categorical or factor variables.

In [ ]:
animals['DateTimeOfCall'].dtypes

# This is how we select a single column; we'll cover this later

You may notice that some categories have not come in quite how we would expect.

`DateTimeOfCall` has come in as an `object` or text value; when it should be `datetime`.

This is extremely common with dates and times in a variety of software; not just Python! 

![xkcd_date_times](../images/iso_8601.png)

Python will often choose an `object` data type for columns; if there’s any ambiguity over the data type. 

This is because this data type retains all the characteristics of the data – and allows us to make the choice about how to process it.

For example - 01/11/19 could be interpreted as either 1st November 2019,  the 11th January 2019 or even the 19th November 2001 - depending on region.

We don’t look at handling date and time data in this course; we’ll leave these columns alone for now. 

[Here]( https://www.geeksforgeeks.org/python-working-with-date-and-time-using-pandas/) is a tutorial for handling dates and times using `pandas`.

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Look at the data types of the `titanic` DataFrame.

Are there any values you didn't expect to see?

You can check the Data Dictionary (an explanation of each column) [here](https://www.kaggle.com/c/titanic/data)

Check the soloution for more information.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/titanic_dtypes.py

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Column Names

It is important to know what your columns are called because in Python we commonly select our columns by name.

First we give the DataFrame name then the name of our column, in quotes, inside square brackets.

``` python
animals['AnimalClass']
```

We can then add a method to the end – e.g `.head()`

e.g.

In [ ]:
animals['AnimalClass'].head()

While Python can handle column names with spaces, symbols and irregular capitalisation; it is often easier to clean them.

We’ll have a look at how can do this in Chapter 5.

We can access our columns by using the `.columns` attribute - remember no brackets after attributes.

This will print out our columns as a data type called an `index`.

In [ ]:
animals.columns

I’d like to display them as a list – so I add (or **chain**) the method `.tolist()` on the end.

In [ ]:
animals.columns.tolist()

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Look at the column names of the `titanic` DataFrame.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/titanic_columns.py

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

We can also use Jupyter’s auto complete feature to help us when accessing the names of our columns.

In the cell below place your cursor after the H and hit tab.

In [ ]:
animals['H']

You’ll see that the auto complete option gives us the name of our `HourlyNominalCost(£)` column. 

This can be a really useful shortcut when we’re writing our code – rather than typing out full column names.

[return to menu](#menu)

<a id='sorting'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Sorting Data

Our data is displayed in the same order as the source data.

We may want to sort our data, based on specific columns.

To do this we use the method `.sort_values(by="column name")`

In [ ]:
animals_sorted = animals.sort_values(by="IncidentNominalCost(£)")

animals_sorted.head()

There are additional arguments we can set – by default the values are sorted in ascending order, by changing `ascending=False` we can sort in descending order.

In [ ]:
animals_sorted = animals.sort_values(by="IncidentNominalCost(£)", ascending=False)
animals_sorted.head()

We can also sort by more than one column by including a list.

Here we are sorting by `"IncidentNominalCost(£)"`; and then by `"AnimalClass"`. Notice object (text/string) columns are sorted by *alphabetical* order.

In [ ]:
animals_sorted = animals.sort_values(by=["IncidentNominalCost(£)", "AnimalClass"])
animals_sorted.head()

When sorting more than one column in descending order it’s best to specify `ascending= ` as a list.

This list is in the same order as our columns.

Some versions of Pandas will sort both columns as descending if we just supply `ascending = False` ; however some won’t – so it’s better to be clear about what we want to do.

By using a list I also have finer control – I could have one in ascending order, and one in descending order if I wished.

In [ ]:
animals_sorted_desc = animals.sort_values(by=["IncidentNominalCost(£)", "AnimalClass"], 
                                          ascending=[False, False])

animals_sorted_desc.head()

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise 1

Sort the `titanic` DataFrame by the `age` column in descending order.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/titanic_sort_one.py

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise 2

Sort the `titanic` DataFrame by the `age` and `sex` column

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/titanic_sort_two.py

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Revisiting parameters and arguments 

We'll reinforce parameters and an arguments now.

Parameters are key words that tell python what the following argument relates to. We have two in the code below:

`by= ` is a parameter and the string representing the column `"IncidentNominalCost(£)"` is the argument.

`ascending= ` is a parameter and `False` is the argument

If we don’t specify parameters Python will assume our arguments are in the order specified in the Signature (press `shift + tab` with your cursor in `.sort_values()` to see this)

Because of this the code below won’t work.

In [ ]:
# This code may give us an error!
# If it doesn't give you an error your data may still be in ascending order

# After you've tried it, you may want to comment it out!

animals_sorted = animals.sort_values("IncidentNominalCost(£)", False)

animals_sorted.head()

Our first argument `IncidentNominalCost(£)` maps directly to the `by=` parameter.

However, Python assumes the second argument `False` relates to the `axis = ` parameter; which in some versions isn't a valid argument, and in some pandas versions is treated effectively as `axis =0`.

It is personal preference if you use parameters before your arguments. It is considered good practice, and can make your code more readable, especially to new coders. We would strongly advise doing so.

In [ ]:
animals_sorted = animals.sort_values(ascending=False, by="IncidentNominalCost(£)")
animals_sorted.head()

As a bonus when you use parameters with your arguments you can pass them in any order as Python no longer relies on it being a positional based argument.

So this code with the argument reversed will also work.

[return to menu](#menu)

<a id='subsetting'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Subsetting

### Selecting Single Columns

Sometimes we will want to work with smaller “cut down” DataFrames that contain fewer columns.

As we saw earlier the simplest way to select a column from a DataFrame is to use the name of the column.

Here I am creating a new Series called ‘animal_grp_parent’ using the ‘AnimalGroupParent’ column from the animals DataFrame.

In [ ]:
animal_grp_parent = animals['AnimalGroupParent']

animal_grp_parent.sample(6)

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Select the `fare` column from the `titanic` DataFrame.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/titanic_select.py

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Selecting Multiple Columns

I can select multiple columns by providing them in a list within my indexing (or selection) square brackets.

Here we have two sets of square brackets next to each other. It’s important to realise that they are doing two separate roles. Our first set is selecting or indexing from the animals DataFrame and our second set is creating a list of our columns we wish to select.

In [ ]:
animal_small_df = animals[[ "DateTimeOfCall", "AnimalGroupParent", "IncidentNominalCost(£)"]]
animal_small_df.sample(6)

Note that when we return one column we get a Series object.

When we return more than one column we get a DataFrame.

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Select the `name, sex, age` and `survived` column from the `titanic` DataFrame.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/titanic_select_two.py

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

Note – you may see people selecting columns using dataframe.column_name

This is legal – but not good practice!

In [ ]:
# This will work - but is not good practice!

titanic.sex.head()

We don’t recommend this because it looks too much like an attribute or method. 

This also won’t work if you had a column that was something like `mean` as Python can’t determine if you mean the column `mean` or the method `.mean()`.

There’s no ambiguity with 

``` python
dataframe[“column”]
```
which is why we will always recommend it over the `dataframe.column_name`

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Selecting on data type
We can also use the method `.select_dtypes()` if we want to include or exclude specific kinds of data from our dataframe.

In [ ]:
# Select just the object columns
animal_object_cols = animals.select_dtypes(include=["object"])

# Return the top of the animal columns

animal_object_cols.head()

We must specify our include data types as a list here, even if we’re just specifying one value. It’s just the way this function was written.

* “object” includes our string columns, I could also use "O" here.
* "float64” and “int64” will select floating point numbers and integer numbers.
* If you have the numpy package loaded ( import numpy as np) you can use np.number (no quotes) to return numerical data.

You can also use the parameter `exclude=` which may be easier if you wish to omit just one data type.

[return to menu](#menu)

<a id='filter'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Filtering

We can achieve really simple filtering by passing a range to the DataFrame indexer.

e.g.

In [ ]:
animals[0:5]

Which returns us the same rows as `.head()`. We can however modify this to return any range of rows within the DataFrame we like - for example the middle of our DataFrame.

In [ ]:
animals[200:250]

However we can do more involved, conditional filtering using `pandas`.

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Single Conditional Filtering

Pandas filters data in a two step process.

1.	It creates a `mask` that specifies inclusion or exclusion for each row in the DataFrame.
2.	Apply the mask on to the DataFrame to return the subset of rows that are included.

In the code below I will create a few simple DataFrames to illustrate my point. Don’t worry too much about how these bits of code works; as previously mentioned you’ll often be working with much larger DataFrames that you’ll load in using one of the `pd.read_` commands.

In [ ]:
# Let's create a simple DataFrame to look at this in practice
# Again, you don't need to worry about how this works

cat_dog = pd.DataFrame({"animal": ["Cat", "Cat", "Dog", "Cat"] , 
                        "name": ["Catalie Portman","Pico de Gato", "Chewbarka", "JK Meowling"]})

# Print out the DataFrame

cat_dog

I want to filter so I just have ‘Cat’ Rows.

My condition can be written like this:

In [ ]:
mask = cat_dog['animal'] == 'Cat'

* I am assigning my output to the variable `mask` with the single = sign
* The column I want to look for values in is `"animal"` from the `catdog` Dataframe - `catdog["animal"]`
* From that column I want to find values that meet my condition – I state this with the double equals `==`
* Finally I am telling Pandas what value I want to find; a string containing “Cat”

If we run the cell we can see the output is a Boolean Series, our True and False values.

In [ ]:
# Run me to see the Series of Boolean values
mask

Here I’ve added displayed this series as a new column on our `cat_dog` DataFrame to demonstrate.

| index  | animal  |       name      | included |
|:-:|:-------:|:---------------:|----------|
| 0 |   Cat   | Catalie Portman | True     |
| 1 |   Cat   |   Pico de Gato  | True     |
| 2 |   Dog   |    Chewbarka    | False    |
| 3 |   Cat   |   JK Meowling   | True     |

We can see where the value in the `animal` column was `"Cat"`; the `mask` column is `True`.

Where the value was not cat (e.g `"Dog"`) the `mask` column is `False`.

However I want to return just the rows where the value in `mask` was `True`.

To do this we apply the `mask` variable on to the `cat_dog` Dataframe using our indexing or selection brackets.

In [ ]:
just_cats = cat_dog[mask]
just_cats

This will only return the rows where our conditional filter equated to `True`.

Rather than create and apply a mask seperately we can do the whole filter operation in one step:

In [ ]:
just_cats = cat_dog[cat_dog['animal'] == "Cat"]
just_cats

You’ll notice the cell with the “Dog” value has been dropped. 

You’ll also notice that our index has not changed. You will sometimes want to reset the index after filtering to restore  it to sequential integers starting at 0.

You can do this like so.

In [ ]:
just_cats.reset_index(drop=True, inplace=True)
just_cats

By default the previous column index is put in as a new column. By using `drop=True` we can remove this behaviour.

`inplace=True` updates the DataFrame in place and is an alternative to overwriting the data with 

`just_cats = just_cats.reset_index(drop=True) `

Our logical comparison statements are:
   
   
| Symbol | Meaning|   
|------------|------------|
| ==       | Is equivalent to|
| !=| Does not equal|
|> |Greater than|
|>=| Greater than or equivalent too|
|< |Less than|
|<= |Less than or equivalent too|



Let’s view one more example – using our animals **DataFrame**  to find `IncidentNominalCost(£)` over £1000.

In [ ]:
# Note here we're using the animals DataFrame

cost_over_1k = animals[animals['IncidentNominalCost(£)'] > 1000]
cost_over_1k.sample(6)

Here we have
* Assigned a new name `cost_over_1k` which will hold our output
* Give our DataFrame name, and our indexing or selection brackets:  `animals[]`
* The column I want to look for values in is ”IncidentNominalCost” from the Animals Dataframe `animals[‘IncidentNominalCost(£)’]`
* The condition I want is ` > 1000` , greater than a thousand. As this is a numeric column I can just specify the number.
* Printing out the variable, using `.sample(6)` method to display 6 rows of the new DataFrame.

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise 1

Filter the `titanic` DataFrame by `sex` column; return the “female” values.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
#Run once to reveal the code.
#Run again to reveal the output. 

%load ../solutions/chapter_4/titanic_filter_one.py

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise 2

Filter the `titanic` DataFrame by `age` column; return the values over 40.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/titanic_filter_two.py

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise 3

Filter the `titanic` DataFrame by `fare` column; return the values less than or equal to 30.50 .

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/titanic_filter_three.py

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Multiple Conditional Filtering

Just as we can filter by one condition we can also filter by multiple conditions.

Let’s add in a new column, representing age to the `cat_dog` DataFrame.

In [ ]:
# Let's create a simple DataFrame to look at this in practice
# Again, we don't need to worry about how we do this!

cat_dog = pd.DataFrame({"animal": ["Cat", "Cat", "Dog", "Cat", "Dog"], 
                        "name": ["Catalie Portman","Pico de Gato", "Chewbarka", "JK Meowling", "K9"],
                        "age": [3, 5, 1, 7, 11]}, 
                       columns=["name", "animal", "age"])


# Print out the DataFrame

cat_dog

We now have an age column, and we’ll be able to select on more than one condition.

When we want to filter on more than one condition, we have to consider how those conditions relate to each other.

AND relationships use the & symbol (Shift and 7 on the keyboard) and require **both** or **all** conditions to evaluate to `True`.

OR relationships use the | symbol (Shift and `\` or ALT 124 on a numerical keypad) and require **one** of the conditions to evaluate to `True`

Below is a “Truth table” that can be handy as a look up.


| Condition 1 | Condition 2  | & (AND) Equates to |  &#124; (OR) Equates to |
|:-----------:|:------------:|:------------------:|:------------------:|
|     True    |     True     |        True        |        True        |
|     True    |     False    |        False       |        True        |
|    False    |     True     |        False       |        True        |
|    False    |     False    |        False       |        False       |

Note that both conditions must evaluate to `True` in order for it to evaluate to `True` overall.

We now have an age column so we can now select all Cats that are older than 4.

Again, in this example we will create a mask so we can see what Boolean values are happening behind the scenes.

In [ ]:
# Create my mask
mask = (cat_dog['animal'] == "Cat") & (cat_dog['age'] > 4)

# have a look at the mask
mask

* I am assigning my output to the variable `mask` with a single = sign.


* My first conditional statement:
    * Has round brackets surrounding it `(`
    * The first column I want to look for values in is `"animal"` from the `catdog` Dataframe - `catdog[“animal”]`
    * From that column I want to find values that meet my condition – I state this with the double equals `==`
    * Finally I am telling `pandas` what value I want to find; a string containing “Cat”
    * My first condition complete I close my round brackets `)`
    
    
* I use a symbol to represent the relationship between my conditons. Here an ampersand - `&` (Shift and 7) is used to represent `AND`


* My second conditional statement:
    * Has round brackets surrounding it `(`
    * The first column I want to look for values in is `"age"` from the `catdog` Dataframe - `catdog[“age”]`
    * From that column I want to find values that are greater than my condition – I state this with the  `>`
    * Finally I am telling Pandas what value I want to find; an int 4
    * My second condition complete I close my round brackets `)`
    

Let's look at the `mask` values alongside the DataFrame:

| index  | animal  |       name      | age | included |
|:-:|:-------:|:---------------:|-----|----------|
| 0 |   Cat   | Catalie Portman | 3   | False    |
| 1 |   Cat   |   Pico de Gato  | 5   | True     |
| 2 |   Dog   |    Chewbarka    | 1   | False    |
| 3 |   Cat   |   JK Meowling   | 7   | True     |
| 4 | Dog     | K9              | 11  | False    |

And when we apply the mask to the DataFrame we can see the filtered Dataframe - with only Cats over 4.

In [ ]:
cats_over_4 = cat_dog[mask]
cats_over_4

We can of course do this in one line as well.

We reference the DataFrame we are selecting from, and then place our filter condition within the indexing or selection brackets.

In [ ]:
cats_over_4 = cat_dog[(cat_dog["animal"] == "Cat") & (cat_dog["age"] > 4)]
cats_over_4

If we can use the AND condition (&) we can also use the OR condition where only one of the conditions must be met to evaluate to `True`.

The OR condition is represented by a vertical bar symbol ( `|` ) – press shift and `\`.

Lets add a condition where the animal is a cat **OR** the age is greater than 4.

In [ ]:
# Create my mask
mask = (cat_dog["animal"] == "Cat") | (cat_dog["age"] > 4)

# View mask

mask

Let's look at the `mask` values alongside the DataFrame:

| index  | animal  |       name      | age | included |
|:-:|:-------:|:---------------:|-----|----------|
| 0 |   Cat   | Catalie Portman | 3   | True     |
| 1 |   Cat   |   Pico de Gato  | 5   | True     |
| 2 |   Dog   |    Chewbarka    | 1   | False    |
| 3 |   Cat   |   JK Meowling   | 7   | True     |
| 4 | Dog     | K9              | 11  | True     |

Catalie Portman now evaluates to True. While she is younger than 3 she is a Cat – and by meeting one of the conditions is included.

K9 also evaluates to `True`. He is not a cat; but meets the age condition by being older than 4 and so is included.

We can of course apply this mask to filter the DataFrame

In [ ]:
cats_or_over4 = cat_dog[mask]
cats_or_over4

Or do the whole action in one line of code.

In [ ]:
cats_or_over4 = cat_dog[(cat_dog["animal"] == "Cat") | (cat_dog["age"] > 4)]
cats_or_over4

Here are some more examples using the `titanic` DataFrame.

Here we are filtering for survivors (value 1), who were female. Using an AND (&) condition

In [ ]:
female_survivors = titanic[(titanic["survived"] == 1) & (titanic["sex"] == "female")]
female_survivors.tail()

And here we are filtering for those with more than 3 sibling/spouses (`sibsp`) on board or who paid more than £400 for their fare.

In [ ]:
siblings_or_expensive = titanic[(titanic['sibsp'] > 3) | (titanic['fare'] > 400)]
siblings_or_expensive.head()

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Filter the animals DataFrame where the IncidentNominalCost(£) Column was less than £400 **and** where the Borough column value is Croydon.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/animal_filter_one.py

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Filter the animals DataFrame where the 'PropertyType' was "River/canal" **or** the `"PumpHoursTotal"` was greater than 8.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/animal_filter_two.py

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Some Filter short cuts.

We can also use some other filters to make life easier.

with `.isin()` we can provide a list of things to filter – here the boat identities `[“2”, “C”, “15”]`

In [ ]:
titanic[titanic["boat"].isin(["2", "C", "15"])].head()

If dealing with numeric values we can use `.between()` and specify an upper and lower bound.

Here we’re looking where the `age` column was between 0 and 12.

In [ ]:
titanic[titanic["age"].between(0, 12)]

We also have the `~` tilde symbol to invert an expression, this works similarly to the `!=` for does not equal.

For example, I can invert the filter for female passengers to return just male passengers.

Note – I have to wrap my conditional statement in round brackets to ensure this works.

In [ ]:
titanic[~(titanic["sex"] == "female")]  # Inverts the results of == Female; effectively giving == Male

The tilde `~` can be useful for other scenarios, there’s a variety of `.is` methods for example that do not have an is not equivalent; but we can invert the `.is` method instead. We’ll see an example of that in chapter 5.

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Filtering Text

So far when we've talked about filtering text we do so on exact matches.

As Python is case sensitive filtering for `“cat”` will not show the values `“CAT”` or `“Cat”` or `cAt` in our `cat_dog` DataFrame.

In [ ]:
# Lets create our cat_dog DataFrame again with some variation in the capitalisation of "cat"

cat_dog_wrong_spelling = pd.DataFrame({"animal": ["cat", "Cat", "Dog", "cat", "Dog", "Rat", "Bat"] , 
                                       "name": ["Catalie Portman","Pico de Gato", "Chewbarka", "JK Meowling", "K9", "Roland", "Vlad"],
                                       "age": [3, 5, 1, 7, 11, 1, 3]} , 
                                      columns = ["name", "animal", "age"])

cat_dog_wrong_spelling

Here the filter condition we previously used (`== Cat`) will only now only return us `Pico De Gato`

In [ ]:
cat_only_spelling = cat_dog_wrong_spelling[cat_dog_wrong_spelling["animal"] == "Cat"]
cat_only_spelling

Which is not the result we wanted - due to Python's case sensitivity.

For simple instances we can use the string method `str.contains()` like in the example below.

Here in our DataFrame some entries in the `"Animal"` column have "Cat" and others have "cat".

By using `.str.contains(“at”)` - we can bring in both values because both contain the partial string "at".

In [ ]:
# Filter to find instances where the string in "animal" contains "at"
cat_only_spelling = cat_dog_wrong_spelling[cat_dog_wrong_spelling["animal"].str.contains("at")]
cat_only_spelling

This obviously is not foolproof as both `Rat` and `Bat` also have `at` in them! 

In chapter 5 we'll look at changing the column values to lowercase - which would allow a straight forward filter to work in this case.

For more complex cases we can use what is known as Regular Expresions or RegEx in Python to search for partial strings.

We do not cover these in this introduction course; but here are some more resources you may wish to explore. If you have used Regular Expressions in other languages you will find this very familiar.

[ RegEx How to]( https://docs.python.org/3/howto/regex.html)

[Python Regular Expressions]( https://developers.google.com/edu/python/regular-expressions)

[Datacamp RegEx tutorial]( https://www.datacamp.com/community/tutorials/python-regular-expression-tutorial)

We’ve looked here at the base Python way of filtering, as with many things in Python there are other alternatives. Some include:

In [ ]:
titanic.query('fare > 50 & sex == "male"').head()

`.filter()` works on the *index* - not the contents! 

Here I’m looking for `like = “1”` which will give me index `1` , `11` , `12` as they contain the number 1. 

So far we’ve worked with indexes that are numerical – from 0 to n; but they can also be text based; and using the pandas `.filter()` would be useful here.

In [ ]:
titanic.filter(like = "1", axis = 0).head()

You many find even more ways of filtering your data – there’s lots out there!

[return to menu](#menu)

<a id='new_columns'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Deriving New Columns

We create new columns in very similar ways:

<center> `titanic["new_column"] = 1` </center>


In the example above we are creating a new column in the `titanic` DataFrame called `"new_column"`, which will have the constant value of 1 in each row.

* To create a new column we first give the DataFrame name and use square brackets to specify, as a string our column name – here `"new_column"`
    * If the column name does not exist in our Dataframe (like in the example) the contents will be placed in a new column, at the end of the DataFrame.
    * If the column already exists in our DataFrame the contents of that column will be **overwritten**.
    
    
* We then use the assignment operator "` = `"


* After the assignment operator is what we fill our column with – here a constant value of the integer 1. 

We’ll now look at various different ways we can fill these new columns.

### Constant Values

Constant values are values that are the same all the way through the column.

These are created by placing the value after the `=` assignment operator.

Some examples are in the cell below.

In [ ]:
# Let's remind ourselves what cat_dog looks like

cat_dog.head()

In [ ]:
# Let's add new columns

cat_dog["constant_string"] = "mammal"   # adds a string/object constant
cat_dog["constant_float"] = 3.2 # adds a floating point constant
cat_dog["constant_int"] = 2   # adds an interger constant

cat_dog

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Add a new constant value to the `animals` dataframe.

Call your new column `attended` and set the value to be `True`.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/constantvalue.py

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Numeric Values

We can add in numeric columns too.

We can do any form of operations we like here – for example creating the family size of the person. 

This is the number of siblings or spouses on board (`sibsp`), the number of parents or children on board (`parch`), plus 1 (the person themselves).

In [ ]:
titanic["family_size"] = titanic["sibsp"] + titanic["parch"] + 1

titanic.head()

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Boolean and Binary Values

Using the same conditions as we do when filtering we can also create Boolean (True/False) columns.


In the example below I am assigning `True` to all values in the `age` column that are under 18. My new column is called `"under_18_bool"`

In [ ]:
titanic["under_18_bool"] = titanic["age"] < 18
titanic.head()

We can also change these values from the Boolean `True` and `False` to the binary values `1` and `0`.

We can convert columns by using the code `.astype(“int64”)`.

In [ ]:
titanic["under_18_binary"] = titanic["under_18_bool"].astype("int64")

titanic.head()

We can also do this in one step when we create the column. We can wrap the first part of the code in brackets; like our order of operations in mathematics this tells Python which bit to do first.

In the cell below we add the new column in one line, and then sort out the missing values in the next.

In [ ]:
# Add the new column and change the type in one line

titanic["under_18_binary"] = (titanic["age"] < 18).astype("int64")

It’s important to note that where we have missing values – it will mark those as `False` (or 0). 

This could really affect our data analysis. 

We’ll look at one way of fixing this after the exercises.

In [ ]:
titanic[titanic['age'].isnull()].head()

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Create a new boolean column in the `animals` DataFrame called `fish_bool`.

Use the `AnimalClass` column to find the values that are eqivalant to `Fish`.

Remember when we're checking equivalency we need the `==` symbol.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/new_bool_col.py

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Extension exercise

Convert `fish_bool` to be a numerical value.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/fish_bool_numeric.py

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

** Important note: Booleans and Missing Values **

Earlier we declared a boolean column that has `True` for under 18, and `False` for over 18.

One issue with this method is that if an entry in the `age` column is a missing value (`NaN`) then it is classified as `False` here.


While Pandas has done exactly as we asked (it does not meet the criteria so is `False`) we’re artificially inflating the number of adults in our two end columns. 

Statistically this isn’t right. There's 263 missing values in the `age` column - as we don’t know the passengers age; so we should preserve the missing data types rather than assume they're over 18 (as it currently does!)

The cell below is filtering the `titanic` dataframe - showing the values that are null (using `.isnull()` ) in the `age` column.

You can see that they show `False` in the `under_18` column.

In [ ]:
# Create the "under_18" column again - in case it's not been run yet!
titanic["under_18_bool"] = titanic["age"] < 18

# Look at missing values in the age column
# Note that in the "under_18" column - they are True!

titanic[titanic['age'].isnull()].head()

We’ll look at more ways to action missing values in chapter 6; but for now we can use `.loc[]` to fill in these values. 

We’ll also talk about `.loc[]` in chapter 5. Basically `.loc[]` can look up rows or columns based on either their index; or as we’re doing here a logical statement – like a filter statement.

Here we’re using `.loc[]` to find rows where the `age` column has a null value; and updating our new column `under_18` to show null (`NaN`) too using the keyword `None`.

In [ ]:
titanic.loc[titanic['age'].isnull(), 'under_18_bool'] = None

Now our `NaN` in `age` are also `NaN` values in `under_18` - as we can see if we run the cell below.

In [ ]:
titanic[titanic['age'].isnull()].head()

While we still have missing data in this column that we may want to deal with later (see chapter 6); at least our “under_18” column is now more accurate. It's really important we think about missing values whenever we perform operations using our data.

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Mapping New Values

We can also use `.map()` to map a dictionary to a column.

This can be useful when we want to explain coded variables for other users; e.g. the column `port` has the values `S`, `C` and `Q`.  We can use `.map()` to give the full names of these ports.

In [ ]:
titanic["port"] = titanic["embarked"].map({"S":"Southampton",
                                           "C":"Cherbourg", 
                                           "Q": "Queenstown (Cobh)"})

titanic.tail()

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Deleting columns

There are a few ways to remove or drop columns.

Let's look at cat_dog again

In [ ]:
cat_dog

We have the inbuilt python statement del ; here to delete the column constant_float from cat_dog DataFrame

In [ ]:
del cat_dog["constant_float"]
cat_dog

We can also use the `.drop()` method.

For versions of Pandas below 0.21.0

In [ ]:
cat_dog.drop(labels=["constant_string", "constant_int"], axis=1, inplace=True)
cat_dog

# If this cell doesn't work check your version using pd.__version__
# If greater than 0.21.0 use the code in the text below.

Here note:

* I’m passing my column names as a list, as there’s more than one
* `axis=1` tells Pandas that we want to delete columns
* `inplace=True`  updates the original Dataframe

This is a very good example of how packages can evolve over time.

From version 0.21.0 of Pandas we don’t need to provide `axis = `  as it can detect if you’re dealing with columns or rows.

If you have that version or later you can use

```python
cat_dog.drop(columns = ["constant_string", "constant_int"], inplace = True) 

```

However most of us are using version 0.20.0 within ONS so I must still use the “old” syntax. The “old” syntax is backwards compatible; so my code below should work, even if you’re using a newer version of Pandas than I am.


An additional option is to use square brackets to just return the columns we want to – we covered that earlier in this section.

[return to menu](#menu)

<a id='merge'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Merging Data

Let’s have a look at the two `joining_data`  DataFrames.

In `joining_data1` we have the columns `name`, `animal` and `age`.
In `joining_data2` we have the columns `name` and `vaccinated`.

`Arf Vader` only appears in `joining_data1` and `Spiderpig` only appears in `joining_data2`. The remainder of the animals appear in both DataFrames.

In [ ]:
joining_data1

In [ ]:
joining_data2

These two DataFrames have a column in common that we could use to join them on - `name`.

We can create a variety of joins. These are often best demonstrated with a Venn diagram.

I’m going to say that `joining_data1` is my “left” DataFrame, and that `joining_data2` is my “right” DataFrame.

For this I’m going to highlight the position of 3 animal names. As we mentioned earlier:

* `Arf Vader` is only in `joining_data1`, our “left” DataFrame.
* `Spiderpig` is only in `joining_data2`, our “right” DataFrame 
* `Catalie Portman` is in both `joining_data1` and `joining_data2` and will represent values in BOTH DataFrames.

!["examples of merge"](../images/pdmerge.png)

As you can see `left` and `right` merges take the data from that DataFrame and any matches from the opposite one. 

This means that in our `left`:
* `Arf Vader` is included because he has data in the left DataFrame. 
* `Arf Vader` has missing values for `vaccinated`, as he isn’t in that DataFame
* `Catalie Portman` has data in all columns, as she appears in both the left and right
* `Spiderpig` doesn’t have any data. We’re only taking data from the left, and he’s only in the right.

Let’s look at how we do this left merge in code. 

We’re going to use `pd.merge()` and do a left join.

In [ ]:
left_merge = pd.merge(left = joining_data1,
                      right=joining_data2, 
                                 how="left",
                                 on="name",
                                 indicator=True)

left_merge

Hopefully the code is fairly self-explanatory:

* `left =` is our left hand DataFrame
* `right= ` is our right hand DataFrame


* `how= ` is how we want to perform the join – other options are
 * `right`
 * `outer`
 * `inner`  (default behaviour)


* ` on= ` is the name of the column both DataFrames have in common. 
 * If we're joining on more than one column we can specify a list here.
 
 
* ` indicator` set to `True` adds an additional column showing if the data was in the left_only, both or right_only as applicable.

Note - Some code may read 

``` python

left_merge = joining_data1.merge(right=joining_data2, 
                                 how="left",
                                 on="name",
```

This performs exactly the same merge - just using the object `joining_data1` rather than specifying it inside the `pd.merge` method. How you write this code is personal preference.

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Exercise

Using `marvel_left` and `marvel_right` perform an outer join using the column `name`

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/join_exercise_1.py

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Extension Exercise 1

Using `marvel_left` and `marvel_right` perform a left join.

Join on the column containing year.

Note that the names of these columns may not be the same in both DataFrames.

Use the help function to explore solutions to this.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/join_exercise_2.py

Note here that maybe “year” is not the best joining column! We’re getting multiple joins for movies that have different names because we only need that “year” data to match.

<hr style="width:50%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.5">

## Extension Exercise 2

Modify the previous join to:

Join on **BOTH** the column containing names and the column containing years.

Note that the names of these columns may not be the same in both DataFrames.

Use the help function to explore solutions to this.

In [ ]:
# Exercise

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_4/join_exercise_3.py

This would be a great solution if we had a larger dataset. 

For example in 1998 there was a movie called “The Avengers”. It's not a marvel movie, and does not star Iron Man, but instead Uma Thurman and Ralph Fiennes as spys! By using the name and year we'd ensure a higher level of accuracy, being as specific as you can is good.

<hr style="width:75%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

### Union Merge

We can also do what's known as `union` merges, which is implimented using `pd.concat()`.

This is where we can add data on to the bottom of an existing dataFrame.

For example we have some new animals to add on to `joining_data1`, these are contained in the `union_joined` DataFrame.

In [ ]:
union_joined = pd.concat(objs=[joining_data1, union_join_data], ignore_index=True)
union_joined

We can see our new additions - `Andy Warhowl`, `Voldetort` and `Repecka` here now.

Here we’re assigning the output to a new DataFrame – `union_joined`.

Our parameters and arguments in `pd.conact()` are:
* `objs= ` Our objects that we wish to concatenate – here as a list
* `ignore_index= ` My new DataFrame will have it’s “own” index starting from 0. If I set this to `False` then I will have two things with an index of 0 – and I don’t want that!

As we’ve said there’s often many ways to do things in Python!

`.append()` and `.join()` also exist for example – here’s a link with a lot more detail about joining together data. [Merge, Join, Concatenate and Compare]( https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

[return to menu](#menu)

<a id='excel_files'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## End of Chapter

In this chapter we’ve explored:
* Exploring our Data
* Sorting our Data
* Selecting our Data
* Filtering our Data
* Creating new columns of Data
* Merging Data


You have completed chapter 4 of the Introduction to Python course. Please move on to chapter 5.

[return to menu](#menu)